{% extends "base.html" %}

{% block content %}
    <div class="form-group mb-2">
        <form method="POST" action="/search/">
            {% csrf_token %}
            <input type="date" name="search_by_date" required class="form-control mb-1">
            <button type="submit" class="btn btn-primary btn-sm">Search</button>
        </form>
    </div>

    <h5 class="text-center">॥ श्री गणेशाय नमः ॥</h5>
    <p class="text-right">Date: {% now "jS F Y" %}</p> 
    
    <h5>Add Product</h5>
    <div class="form-group">
        <form method="POST">
            {{ form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Add Item</button>
        </form>
    </div>

{% endblock content %}